table#tabVarDesc {
    width: 50%; 
    background-color: #4a4e54;
}
table#tabVarDesc tr:nth-child(even) {
    background-color: #eee;
}
table#tabVarDesc tr:nth-child(odd) {
    background-color: #fff;
}
table#tabVarDesc th {
    color: white;
    background-color: #4a4e54;
}
p.box {
    text-align: center;
    color: #ffffff;
    background : #4b5970;
    border-radius: 8px;
    padding: 30px;
    max-width: 500px;
    text-align: left;
    text-size: 60pt;

}

pre.lm {
  width: auto; 
  height: auto; 
  max-width: 1000px; 
  max-height: 400px;
}
