table#tabVarDesc {
    width: 50%; 
    background-color: #4a4e54;
}
table#tabVarDesc tr:nth-child(even) {
    background-color: #eee;
}
table#tabVarDesc tr:nth-child(odd) {
    background-color: #fff;
}
table#tabVarDesc th {
    color: white;
    background-color: #4a4e54;
}
p.box {
    text-align: center;
    color: #ffffff;
    background : #4b5970;
    border-radius: 8px;
    padding: 30px;
    max-width: 500px;
    text-align: left;
    text-size: 60pt;

}

pre.lm {
  width: 650px; 
  height: 850px; 
}

.grid-container {
  display: inline-grid;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-columns: 650px 650px ;
}
